<div fxLayout="row" fxLayoutAlign="center" class="mt-4 ">
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" class=" w-50 h-50 m-2 login-box">
        <form [formGroup]="loginForm" class="m-2">
            <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="column">
                    <label class="form-label">Email</label>
                    <input formControlName="email" class="form-control"/>
                </div>
                <div fxLayout="column">
                    <label class="form-label">Password</label>
                    <input formControlName="password" class="form-control" type="password"/>
                </div>
            </div>
           
        </form>
        <div fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="continueToLogin()" class="w-25 m-2">Submit</button>
        </div>
    </div>
</div>
