<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="titlebar">
  <h1>Product Backlog</h1>
  <button class="new-user-story" routerLink="/user-story">
    New User Story
  </button>
</div>

<!-- List to display user stories from productBacklogData -->
<ul class="list-group">
  <li
    *ngFor="let item of productBacklogData"
    class="list-group-item d-flex justify-content-between align-items-center"
  >
  <div fxLayout="column" class="list-group-item list-group-item-action active">
    <a
      href="product-backlog"
       fxLayout="row" class="list-group-item list-group-item-action active"
    >
        <span fxFlex="70">{{ item.subject }}</span>

      <span fxFlex="20">{{item.status_extra_info.name}}</span>
      <span class="badge badge-primary badge-pill" fxFlex="5">{{ item.total_points }}</span>
  </a>
  <div fxLayout="row" fxLayoutGap="10px">
    <button mat-raised-button >Edit</button>
    <button mat-raised-button (click)="delete(item.id)">Delete</button>
  </div>
  </div>

  </li>
</ul>
