<div class="task-form">
  <h2>Create New Task</h2>
  <form [formGroup]="addTaskForm" (ngSubmit)="createTask()">
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input
        type="text"
        id="subject"
        name="subject"
        formControlName="subject"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        name="description"
        formControlName="description"
        rows="5"
        cols="30"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="assignedTo">Assigned To:</label>
      <select id="assigned_to" formControlName="assigned_to">
        <option *ngFor="let member of projectMembers" value="{{ member.id }}">
          {{ member.full_name }}
        </option>
      </select>
      <!-- <input
        type="text"
        id="assignedTo"
        name="assignedTo"
        [(ngModel)]="task.assignedTo"
        required
      /> -->
    </div>

    <div class="form-group">
      <label for="status">Status:</label>
      <select id="status" name="status" formControlName="status">
        <option value="3819444">New</option>
        <option value="3819445">In Progress</option>
        <option value="3819446">Ready for Test</option>
        <option value="3819447">Closed</option>
        <option value="3819448">Needs Info</option>
      </select>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="!addTaskForm.valid">Create Task</button>
    </div>
  </form>
</div>
