#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #form-container form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  label {
    margin: 10px;
  }
  
  .titlebar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f2f2f2;
    }
  