<mat-stepper linear #stepper>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Enter project details</ng-template>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Run Simulations</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>View Statistics</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
