<mat-stepper linear #stepper>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Enter project details</ng-template>
    
    
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
    <div class="row">
      <div class="column">
        <h1>User Story</h1>
        <div class="card">
          <h3>Card 1</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    
      <div class="column">

        <h1>Tasks</h1>
        <div>
          <mat-card>
            <mat-card-content style="background-color: #CB904D">Task 1</mat-card-content>
          </mat-card>
        </div>
        <br>
        <div>
          <mat-card style="background-color: #CB904D">
            <mat-card-content>Task 2</mat-card-content>
          </mat-card>
        </div>
        <br>
        <div >
          <mat-card style="background-color: #CB904D">
            <mat-card-content>Task 3</mat-card-content>
          </mat-card>
          
        </div>
      </div>
      
      <div class="column">

        <h1>Current Status</h1>
        <div>
          <mat-card>
            <mat-card-content style="background-color: #C3E991">Done</mat-card-content>
          </mat-card>
        </div>
        <br>
        <div>
          <mat-card style="background-color: #DFCC74">
            <mat-card-content>In Progress</mat-card-content>
          </mat-card>
        </div>
        <br>
        <div >
          <mat-card style="background-color: #51A3A3">
            <mat-card-content>New</mat-card-content>
          </mat-card>
          
        </div>
      </div>
      
      <div class="column">

        <h1>Completed Points</h1>
        <div class="card">
          <h3>Card 4</h3>
          <p>Some text</p>
          <p>Some text</p>
        </div>
      </div>
    </div>

    
  </mat-step>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Run Simulations</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>View Statistics</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
